<div id="<%= dom_id note %>">
  <p class="my-5">
    <strong class="font-medium mb-1">Name:</strong>
    <%= note.name %>
  </p>

  <figure class="my-5">
    <figcaption><%= note.file_name %></figcaption>
    <audio controls src="/sounds/<%= note.file_name %>"></audio>
  </figure>

  <% if action_name != "show" %>
    <%= link_to "Show this note", note, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this note', edit_note_path(note), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
