<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <%= render @lesson %>

    <div class="my-5">
      <strong>使用する音</strong>
      <% @lesson.notes.each do |note| %>
        <p><%= note.name %></p>
      <% end %>
    </div>

    <%= link_to 'レッスン開始', question_lesson_path(@lesson), class: "mt-2 mr-2 rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium" %>
    <%= link_to '編集', edit_lesson_path(@lesson), class: "mt-2 mr-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to '音の追加', new_lesson_lesson_target_path(@lesson), class: "mt-2 mr-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium"%>
    <div class="inline-block mr-2">
      <%= button_to '削除', lesson_path(@lesson), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    </div>
    <%= link_to '一覧へ戻る', lessons_path, class: "mt-2 mr-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>
